---
layout: default
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

<style>
  /* 1. 'posts' 라고 적힌 큰 제목 크기 */
  #posts-label {
    font-size: 1.5rem !important; /* 기본보다 작게 하려면 숫자를 줄이세요 (예: 20px) */
    font-weight: 600; /* 굵기 조절 */
  }

</style>

{%- if site.posts.size > 0 -%}
  <ul class="posts">
    <li class="post-intro" style="font-size: 1.4rem; font-weight: 500; margin-top: 50px; margin-bottom: 30px; line-height: 1.6;">
        {{ content }}
    </li>

    <li class="posts-labelgroup" id="posts-labelgroup">
      <h1 id="posts-label">Publications</h1>
      {% if site.plainwhite.search %}
      <div class="search-container">
        <div class="search-section">
          <i class="icon-search"></i>
          <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
        </div>
        <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
      </div>
      {% endif %}
    </li>

    {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%}
  </ul>

  <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}
